@media (max-width: 1400px) {
  .logo-title {
    @include text-format(3.75rem, 15, 800);
  }
}

@media (max-width: 992px) {
  .splash {
    padding-block: $gutter * 4;
  }

  .logo-title {
    @include text-format(3rem, 15, 800);
  }
}

@media (max-width: 768px) {
  .splash {
    padding-block: $gutter * 4;
  }

  .logo-title {
    @include text-format(3rem, 10, 800);
  }
}

@media (max-width: 576px) {
  .splash {
    padding-block: $gutter * 3;
  }

  .logo-title {
    @include text-format(2rem, 5, 800);
  }

  .logo-subtitle {
    @include text-format(1rem, 2, 700);
  }
}

@media (max-width: 376px) {
  .logo-title {
    @include text-format(1.75rem, 5, 800);
  }

  .logo-subtitle {
    @include text-format(0.8rem, 2, 700);
  }
}