//toast dropdown
@keyframes dropdown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    max-height: 100px;
  }
}

//finder processing
@keyframes compute-grid {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

//display popups
@keyframes display-popup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//side-nav slide
@keyframes slide-in {
  0% {
    max-width: 10px;
  }

  100% {
    max-width: 200px;
  }
}

@keyframes slide-out {
  100% {
    max-width: 200px;
  }

  0% {
    max-width: 10px;
  }
}