.card {
  padding-block: $gutter * 2;

  &--left {
    text-align: right;
  }
}

.card__image {
  height: 400px;
  box-shadow: 0 0 2rem $clr-dark;
  position: relative;

  &--wide {
    width: 75%;
  }

  &--normal {
    width: 50%;
  }

  &--right {
    margin-left: auto;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card__content {
  position: absolute;
  white-space: nowrap;

  &--upper {
    top: $gutter * 2;
  }

  &--lower {
    bottom: $gutter * 2;
  }

  &--left {
    right: 0;
    transform: translateX(50%);
  }

  &--right {
    left: 0;
    transform: translateX(-50%);
  }
}

.content__title {
  @include text-format(2rem, 2, 700);
  text-transform: uppercase;
}

.content__subtitle {
  @include text-format(1.25rem, 1.5, 400);
}

[data-aos="opacity-fade-rtl"] {
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
  }

  @media screen and (min-width: 992px) {
    transform: translateX(100px);

    &.aos-animate {
      transform: translateX(0);
    }
  }
}

[data-aos="opacity-fade-ltr"] {
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
  }

  @media screen and (min-width: 992px) {
    transform: translateX(-100px);

    &.aos-animate {
      transform: translateX(0);
    }
  }
}