.section__title {
  @include text-format(2rem, 2, 700);
  text-transform: uppercase;
  text-align: center;
  padding-bottom: $gutter * 4;
}

.pathfinder-grid {
  outline: 2px solid $clr-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto $gutter * 2;
  width: 80vw;
  aspect-ratio: 1;
  max-width: 500px;
  max-height: 500px;
}

.grid-element {
  border: 2px solid $clr-light;

  &.clickable {
    background-color: rgba($clr-primary, 0.3 );
  }

  &.active {
    background-color: $clr-primary;

    &.start-end {
      background-color: darken($clr-primary, 20%);

      &.shortest {
        background-color: darken($clr-secondary, 20%);
      }
    }

    &.shortest {
      background-color: $clr-secondary;
    }
  }
}

.buttons-box {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 500px;
}