.nav__list {
  margin: 0;
  list-style-type: none;
  padding: $gutter * 2;
  display: flex;
  justify-content: center;
}

.nav__item {
  display: inline-block;
}

.nav__link {
  @include text-format(1.1rem, 1, 700);
  text-decoration: none;
  text-transform: uppercase;
  color: $clr-light;
  padding: $gutter * 2 $gutter * 3;
  transition: all 0.5s;

  &.active {
    color: $clr-primary;
  }
}