.splash {
  padding-block: $gutter * 6;
  display: flex;
  flex-direction: column;
  width: min-content;
  margin: 0 auto;
}

.logo-title {
  @include text-format(4rem, 20, 800);
  text-transform: uppercase;
  text-align: center;
}

.logo-subtitle {
  @include text-format(1.5rem, 4, 700);
  text-transform: uppercase;
  text-align: right;
}