.toast {
  @include text-format(0.8rem, 0, 400);
  width: 250px;
  text-align: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  max-height: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  top: 5px;
  background: $clr-error;
  margin: 0 auto;

  &.active {
    display: flex;
    animation: dropdown 1.5s ease-in-out alternate 2;
    opacity: 1;

    .toast__text {
      display: block;
    }
  }
}

.toast__text {
  display: none;
  padding: $gutter $gutter * 2;
}

@keyframes dropdown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    max-height: 100px;
  }
}