.toast {
  @include text-format(0.8rem, 0, 400);
  width: 250px;
  text-align: center;
  position: sticky;
  border-radius: 4px;
  display: flex;
  padding: $gutter $gutter * 2;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
  top: 5px;
  background: $clr-error;
  margin: 0 auto;

  &.active {
    opacity: 1;
  }
}