//spacing
$gutter: 16px;
$spacing-unit: 2px;
//colors
$clr-light: #fff;
$clr-dark: #0F0E0E;
$clr-primary: #E8630A;
$clr-secondary: #B4FF9F;
$clr-error: #B20600;
//fonts
$font-main: 'Assistant', sans-serif;